body {
    background-color: ivory;
}

header {
    color: #4c4c4c;
    background-color: rgb(255, 255, 240,.5);
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    position: sticky;

}

a {
    color: #4c4c4c;
    font-family: 'Barlow', sans-serif;
    text-decoration-style: dotted;
}

h1 {
    color: #4c4c4c;
    background-color: rgb(255, 255, 240,.5);
    font-family: 'Barlow', sans-serif;
}

h3 {
    color: #4c4c4c;
    background-color: rgb(255, 255, 240,.5);
    font-family: 'Barlow', sans-serif;
}

p {
    color: #4c4c4c;
    background-color: rgb(255, 255, 240,.5);
    font-family: 'Barlow', sans-serif;
}

.headertext {
    top: 0;
    margin-top: 5%;
    margin-left: 20%;
    z-index: 1;
}

.kerned {
    font-weight: bold;
    letter-spacing: .5em;
}

.navlink {
    font-weight: bold;
}

.headlinetext {
    position: relative;
    display: block;
    margin-left: 20%;
    margin-right: 30%;
    margin-top: 10%;
}

.sitetext {
    position: relative;
    display: block;
    width: 50%;
    margin-left: 20%;
    margin-right: 40%;
}

.bottom-sticky {
    position: fixed;
    bottom: 10%;
    margin-left: 50%;
    z-index: -1;
}

.watermark {
    width: 50%;
    height: auto;
}

.work-list {
    position: relative; 
    display: block;
    text-align: center;
}

.hovertext {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.hovertext:hover {
    text-decoration-style: solid;
}

.hovertext:hover .tooltip-text {
    visibility: visible;
}

#fade {
    opacity: 0;
    transition: opacity 0.5s;
}

.hovertext:hover #fade {
    opacity: 1;
}

.tooltip-text {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    color: ivory;
    font-size: .65em;
    background-color: rgb(76, 76, 76);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}





/* x-small devices */
@media only screen and (max-width: 365px) {

    .headertext {
        font-size: 1.0em;
        width: 90%;
        margin-left: 6%;
    }

    .kerned {
        font-size: 1.25em;
        text-align: center;
        font-weight: bold;

    }

    .navlink {
        font-size: 1em;
        padding-right: 1%;
    }

    .navbar {
        text-align: left;
    }


    .headlinetext {
        margin-top: 20%;
        font-size: 1.15em;
        width: 90%;
        margin-left: 6%;

    }

    .sitetext {
        font-size: 1.10em;
        width: 85%;
        margin-top: 10%;
        margin-left: 7%;
        text-align: left;
    }

    .bottom-sticky {
        width: 100%;
        height: auto;
        margin-left: 35%;
        bottom: 5%;
    }

    .work-list {
        width: 100%;
        margin-top: 20%;
        display: table;
        margin: 0 auto;
}

    .work-link {
        background-color: rgb(76, 76, 76,.1);
        color: rgb(76,76,76);
        font-size: 1.15em;
        padding: 5%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 9%;
    }
}

/* mobile handhelds */
@media only screen and (min-width: 366px) and (max-width: 430px) {


    .headertext {
        font-size: 1.1em;
        width: 90%;
        margin-left: 6%;
        margin-top: 8%;
    }

    .kerned {
        font-size: 1.3em;
        text-align: center;
        font-weight: bold;

    }

    .navlink {
        font-size: 1em;
        padding-right: 1%;
    }

    .navbar {
        text-align: left;
    }


    .headlinetext {
        margin-top: 35%;
        font-size: 1.35em;
        width: 92%;
        margin-left: 6%;

    }

    .sitetext {
        font-size: 1.25em;
        width: 80%;
        margin-top: 15%;
        margin-left: 7%;
        text-align: left;
    }

    .bottom-sticky {
        width: 100%;
        height: auto;
        margin-left: 35%;
        bottom: 5%;
    }
}

/* tablet */
@media only screen and (min-width: 431px) and (max-width: 1199px) {

    .headlinetext {
        font-size: 1.5em;
    }

    .sitetext {
        font-size: 1.35em;
        width: 60%;
    }

    .bottom-sticky {
        position: fixed;
        bottom: 10%;
        margin-left: 50%;
        z-index: -1;
    }
    

    .watermark {
        width: 80%;
        height: auto;
    }

}

/* desktop */
@media only screen and (min-width: 1200px) {

    .headertext {
        font-size: 1.25em;
    }

    .navlink {
        padding-right: 0.1%;
    }

    .headlinetext {
        position: relative;
        display: block;
        font-size: 2em;
        width: 60%;
        margin-left: 20%;
        margin-right: 33%;
        margin-top: 7%;
    }

    
    
    .sitetext {
        position: relative;
        display: block;
        font-size: 1.5em;
        width: 30%;
        margin-left: 20%;
        margin-right: 40%;
        margin-top: 5%;
    }
    
    .bottom-sticky {
        position: fixed;
        bottom: 10%;
        margin-left: 50%;
        z-index: -1;
    }
    
    .watermark {
        width: 60%;
        height: auto;
    }
}
